.class-ul ::before {
    padding-right: 1%;
    color: #0047a3;
    content: "\00BB"; 
}
.class-ul {
    padding-left: 2rem;
    list-style-type: none;
    margin-bottom: 5%;
    margin-top: 3%;
}
.class-ul li {
    padding-left: 2rem;
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
}
.box {
    display: flex;
}
body {
    background-image: url(/assets/images/borely.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: whitesmoke;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
}
header {
    margin-bottom: 30%;
}
main {
    margin: 20% 10% 2% 10%;
    border-style: 2px;
    background-color: white;
}
.paragraphe {
    padding: 1% 15% 1% 15%;
}
.text {
    padding: 1% 5% 1% 5%;
    text-align: center;
}
h2 {
    color: green;
}
h1 {
    color: green;
}
h3 {
    color: green;
}
h4 {
    color: green;
}