* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#titre{
    font-size: xx-large;
    padding: 1%;
    text-align: center;
}

#text{
    color: aqua;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
 }

 #backgroundblue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

article {
    flex: 1;
    margin-right: 20px; /* Pour l'espace entre le texte et la vidéo */
}

aside {
    flex: 1;
}

.image-with-text {
    position: relative;
    display: flex;
    align-items: center;
}

article {
    position: relative;
    overflow: hidden;
}

article img {
    width: 50%;
    display: block;
}

#possition{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px; /* Marge à droite du conteneur */
    background: white; /* Fond pour le texte */
    padding: 20px; /* Espace intérieur du texte */
    max-width: 50%; /* Largeur maximale du texte */
}
