@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-background {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/randonee/Callelongue-en-famille4©LamyOTCM-1-1920x960.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
#title-background h1 {
    color: #fff;
    /* color: black; */
    font-size: 5rem;
    position: relative;
    top: -90px;
    background-color: rgba(0, 0, 0, 0.542);
    padding: 20px;
    border-radius: 10px;
}

main p{
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}
.rando {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rando-texte {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.rando_img {
    flex: 2;
}
