#titre1 {
    text-align: center;
    text-transform: capitalize;
}
#titre2 {
    text-align: center;
}
#titre5 {
    text-align: right;
}
#list3 li{
    text-align: right;
}
#list3 li::before{ 
    padding-right: 1%;
    color: cyan;
    content: "\00BB"; 
}
ul ::before {
    padding-right: 1%;
    color: cyan;
    content: "\00BB"; 
}
ul {
    list-style: none;
}
h2 {
    text-align: center;
}
